# 220313 Introduction to R

In [ ]:
# comments start with hashtag #
# R as a calculator

7 + 4

In [ ]:
# R as a calculator

7 + 4
8 - 2

2^10 # exponentiation
2 %% 3 # modulo/remainder

# see tidyverse style guide about spaces https://style.tidyverse.org/index.html 
# "Most infix operators (==, +, -, <-, etc.) should always be surrounded by spaces"
# "The operators with high precedence: ::, :::, $, @, [, [[, ^, unary -, unary +, and : should never be surrounded by spaces"

In [ ]:
# Assigning variables

x <- 3.14
x
y <- 2
y
x^y
z <- x - y
z

In [ ]:
# Basic data types in R

x <- 2 # numeric (integer)
class(x)

y <- FALSE # boolean/logical
class(y)

z <- 'hello world' # character/string
class(z)

In [ ]:
# Vectors in R

x <- c(3, 1, 4, 1, 5)
y <- c('hello', 'world')
z <- c(FALSE, TRUE, FALSE)
x
y
z

In [ ]:
# Naming elements of vectors
names(x)
names(x) <- c('1st', '2nd', '3rd', '4th', '5th')
x
names(x)

In [ ]:
# Naming elements of vectors

names(z)
people <- c('Ava', 'Betty', 'Christie')
names(z) <- people
z
names(z)

In [ ]:
# Operations with vectors

x1 <- c(3, 1, 4)
x2 <- c(2, 7, 1)
x1
x2
x1 + x2
x1 / x2
x1 > x2

# element-by-element

In [ ]:
# Operations with vectors
x1
sum(x1)
x2
sum(x2)

In [ ]:
# Vector element selection
# R unlike Python uses 1-based array indexing (Python uses 0-based array indexing)

x1
x1[0] # no 0th element 0
x1[1]
x1[-2] # drops 2nd element

In [ ]:
# Vector element selection: multiple elements

x <- c(2, 7, 1, 8, 2, 8, 1, 8, 2, 8)
#print(exp(1)*1e9)
print(x)

x[2:4] # select consecutive elements

x[-c(2:4)] # drop consecutive elements

x[c(3, 1, 4)] # select non-consecutive elements

In [ ]:
# Vector element selection: using names of elements

#print(pi*1e9)

y <- c(3, 1, 4, 1, 5, 9, 2, 6, 5, 4)
set.seed(24)
names(y) <- sample(LETTERS, 10)

y

y['J']

y[c('I', 'G', 'W')]

mean(.Last.value)

y[c('B', 'X')]
y['B'] + y['X']

In [ ]:
# Vector element selection: by comparison i.e. using logical comparison operators > < >= <= == !=

u <- c(2, 7, 1, 8, 2, 8, 1, 8, 2, 8)

u > 2

u[u > 2]

In [ ]:
# Creating matrix

M <- matrix(1:9, byrow = TRUE, nrow = 3)
M

In [ ]:
# Naming matrix dimensions

rownames(M) <- c('r1', 'r2', 'r3')
colnames(M) <- c('c1', 'c2', 'c3')
M

In [ ]:
# Summing rows & columns of matrix

M
rowSums(M)
colSums(M)

In [ ]:
# Adding rows & columns to matrix

M
rbind(M, c(10, 11, 12)) # add row
cbind(M, c(10, 11, 12)) # add column

In [ ]:
# What objects do I have in my environment?

ls()

In [ ]:
# Selecting matrix elements

M
M[1, 2]
M[2, 3]
M[1:2, 2:3]
M[, 2] # all elements of column 2
M[3, ] # all elements of row 3

# see tidyverse style guide about spaces https://style.tidyverse.org/index.html 
# 'Always put a space after a comma, never before, just like in regular English.'

In [ ]:
# summary stats of matrix

M
mean(M)
median(M)
sd(M) # standard deviation
max(M)
min(M)

summary(M)
summary(t(M))

In [ ]:
# Element-wise matrix arithmetic

M
M^2 # squares each element
M%%2 # checks if each element is odd/even

M/3
M - 1
log(M)

In [ ]:
# Element-wise vs standard matrix multiplication

set.seed(51)
N <- matrix(sample(0:9, size = 9, replace = TRUE), nrow = 3)
N
M

M*N # Element-wise
N*M # Element-wise

# for Element-wise, order makes no difference

M%*%N # standard
N%*%M # standard

# for standard, order DOES make a difference

In [ ]:
# Factors (used to store categorical variables)

set.seed(91)
eye_color <- sample(c('black', 'brown', 'blue', 'green'), size = 10, replace = TRUE)
eye_color
class(eye_color)

# change from 'character' to 'factor'

eye_color_factor <- factor(eye_color)
eye_color_factor
class(eye_color_factor)

In [ ]:
# Factors; nominal vs ordinal categorical variables

eye_color_factor # nominal (no order in the levels of color)
levels(eye_color_factor)

set.seed(74)
temperature <- sample(c('Medium', 'Low', 'High'), size = 10, replace = TRUE)
temperature
class(temperature)

temperature_factor <- factor(temperature, order = TRUE, levels = c('Low', 'Medium', 'High'))
temperature_factor
levels(temperature_factor)

In [ ]:
# change names of levels of a factor

set.seed(14)
x <- sample(c('R', 'B'), size = 10, replace = TRUE)
x_factor <- factor(x)
x_factor
levels(x_factor)

levels(x_factor) <- c('Blue', 'Red')
x_factor